*{margin:0;
}
body {background-image: url(BG2.png);
    orientation: center;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 450px;
    
   

}
.card {
   color: white;
   padding-top: 10px;
   padding-left: 15px;
   padding-right: 15PX;
   padding-bottom: 5px;
 
}

h4 {
    text-align: center;
    color: white;
}
.Judul {
    margin-top: 50px;
    text-align: center;

}
h3{
    color: black;
    
}
.container .Judul img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
}
.container .Judul .card input[type="text"] {
    width: 100%;
}.container .Judul .card input[type="password"] {
    width: 100%;
}

.container .Judul .card label{
    float:padding-left
}
.container .Judul .card button {
    margin-top: 10px;
    float: right;
}
